@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
    transform: scale(1.05);
  }
}

.about {
  background-color: #0a2850;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 80px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.about__title {
  margin-top: 100px;
  max-width: 251px;
  margin-bottom: 0;
  color: white;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 2;
}

.about__content {
  max-width: 660px;
  padding: 119px 80px 173px 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  color: white;
  font-size: 20px;
  line-height: 30px;
}

.about__circle {
  position: absolute;
  top: -152px;
  left: -129px;
  background-color: #1878dc;
  height: 429px;
  width: 429px;
  border-radius: 50%;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
