.recipes {
  padding: 80px 100px 215px;
  color: #fff;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.recipes__title {
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  margin-top: 24px;
  max-width: 438px;
  margin-bottom: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  list-style-type: none;
  margin-top: 80px;
  margin-bottom: 0;
  justify-content: center;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}
